<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>History</title>

    <link rel="stylesheet" th:href="@{/css/navigation.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/list.css}" type="text/css"/>
</head>

<body class="flex">

<div class="main">

    <div class="navigation">
        <a th:href="@{index}">Главная</a>
        <a th:href="@{history}">История</a>
        <a th:href="@{upload}">Загрузить</a>
    </div>

    <div class="content">
        <h1>История файлов</h1>

        <table>
            <tr>
                <th>Ресурс</th>
                <th>Название</th>
                <th>Дата загрузки</th>

            </tr>

            <tr th:each="document : ${documents}">
                <td>
                    <img alt="zip" class="iconImage"
                         th:if="${document.getType().name() == 'INTERNAL'}" th:src="@{/images/zip.png}">
                    <img alt="zip" class="iconImage"
                         th:if="${document.getType().name() == 'GIT'}" th:src="@{/images/github.jpg}">
                </td>

                <td>
                    <a th:href="@{/document/{id}(id=${document.getId()})}" th:text="${document.getTitle()}"></a>
                </td>

                <td th:text="${document.getCreatedAt().format(T(java.time.format.DateTimeFormatter).ofPattern('HH:mm, d MMM uuuu, EEE'))}"></td>
            </tr>

        </table>

    </div>
</div>

</body>

</html>
