<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Main window</title>
    <link rel="stylesheet" th:href="@{/css/navigation.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css"/>
</head>

<body class="flex">

<div class="main">

    <div class="navigation">
        <a th:href="@{index}">Главная</a>
        <a th:href="@{history}">История</a>
        <a th:href="@{upload}">Загрузить</a>
    </div>

    <div class="content">
        <h1></h1>
        <div class="mainImage">
            <img th:src="@{/images/analyzer.png}">
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fermentum mauris eu quam euismod auctor.
            Maecenas sit amet lectus libero. Quisque vitae velit eu nunc finibus mattis. Aenean sed libero non quam
            convallis lobortis ut vulputate nunc. Sed gravida purus augue, quis venenatis est tristique vitae. Maecenas
            congue ligula turpis, sit amet sodales nisl mattis ut. Donec vel lacus magna. Curabitur pharetra
            sollicitudin felis, eu dignissim diam tempor in. Fusce urna massa, laoreet in diam a, semper tempus est.
            Praesent diam libero, pulvinar non lorem eu, finibus varius nunc. Nam pharetra velit id est fermentum, in
            euismod magna pretium.
        </p>
        <p>
            Ut lacinia mollis erat, a malesuada risus faucibus vel. Mauris aliquet pharetra posuere. Morbi ullamcorper,
            eros et fermentum pulvinar, arcu augue scelerisque odio, vel sollicitudin quam est sed augue. Phasellus dui
            ipsum, sodales non volutpat non, aliquam vel ligula. Nunc tempor orci et nulla euismod porttitor. In id
            libero eros. Aliquam nec efficitur erat. Etiam vulputate, tortor et tristique dictum, justo justo cursus
            quam, et euismod arcu mi eu orci.
        </p>
        <p>
            Aenean tincidunt, urna vel lobortis mattis, urna sem tempus dolor, quis consequat nisl urna quis elit.
            Maecenas at metus et metus dictum mattis vel ac ante. Cras gravida libero mi, et varius ante dignissim vel.
            Praesent quis nibh finibus, elementum dolor in, sodales nisl. Donec eget nisl dolor. Quisque fringilla nisl
            et luctus ultrices. Praesent commodo justo sed euismod pharetra. Maecenas maximus velit ut tortor efficitur,
            eget rhoncus ante aliquam. Cras in lacinia lacus, eget ultricies mauris. Ut mattis quam ut odio pretium, ut
            scelerisque orci suscipit. Phasellus venenatis dictum nisi, at vehicula mauris condimentum sed. Fusce dictum
            vel massa gravida consectetur. In suscipit lacus at ligula malesuada pellentesque. Donec lobortis diam eu
            nulla gravida, vitae malesuada neque sollicitudin. Vivamus sodales mi vitae tortor convallis congue.
        </p>
        <p>
            Suspendisse libero eros, eleifend eleifend dapibus id, finibus at lectus. Vestibulum ut neque enim. Nam
            sagittis, libero quis euismod tincidunt, arcu dui mattis massa, vel congue mi sem vel orci. Curabitur
            pulvinar vel mauris non sagittis. Nullam luctus velit quis tempor congue. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Nam at velit diam.
        </p>
        <p>
            Suspendisse iaculis tincidunt nisl, vestibulum congue libero malesuada vitae. Ut tempus ipsum vitae mi
            scelerisque tristique. Aenean elementum urna ante, at dapibus sapien viverra sed. Sed vehicula lorem non
            justo sagittis mattis. Etiam aliquet non arcu ut auctor. Quisque congue urna quam, non malesuada dui
            consequat rutrum. Donec tortor nisl, dapibus at turpis sit amet, maximus imperdiet odio. Nullam iaculis
            tellus metus. Morbi sit amet tempor turpis, eu sagittis dolor. Donec porttitor pellentesque eros quis
            rhoncus. </p>
        </p>
    </div>

    <div class="footer">
        <a th:href="@{signin}">Sign-in</a>
        <a>|</a>
        <a th:href="@{logout}">Logout</a>
    </div>
</div>

</body>

</html>

