<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sign-in</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigation.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
</head>

<body class="flex">

<div class="main">

    <div class="navigation">
        <a th:href="@{index}">Главная</a>
    </div>

    <div class="content">
        <h1>Введите данные нового пользователя</h1>

        <form th:action="@{/sign-in}" method="post">

            <table>
                <tr>
                    <td>
                        <p>Name:</p>
                    </td>
                    <td>
                        <input type="text" name="name" value=""/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Surname:</p>
                    </td>
                    <td>
                        <input type="text" name="surname" value=""/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Login:</p>
                    </td>
                    <td>
                        <input type="text" name="login" value=""/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Password:</p>
                    </td>
                    <td>
                        <input type="password" name="pass" value=""/>
                    </td>
                </tr >
                <tr>
                    <td colspan="2"><input class="button" type="submit" value="Подтвердить"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>

</html>

