<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Upload</title>

    <link rel="stylesheet" th:href="@{/css/navigation.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/upload.css}" type="text/css"/>
</head>

<body class="flex">

<div class="main">

    <div class="navigation">
        <a th:href="@{index}">Главная</a>
        <a th:href="@{history}">История</a>
        <a th:href="@{upload}">Загрузить</a>
    </div>

    <div class="content">
        <div class="mainImage">
            <img th:src="@{/images/meds.jpg}">
        </div>

        <div class="choice">
            <div class="choiceBox">
                <h3>Ссылка на репозиторий:</h3>
                <form method="post" th:action="@{/upload/url}">
                    <input name="link" type="text" value=""/>
                    <input class="button" type="submit" value="Подтвердить"/>
                </form>
            </div>
            <div class="choiceBox">
                <h3>Загрузить архив:</h3>
                <form enctype="multipart/form-data" method="POST" th:action="@{/upload/archive}">
                    <input accept=".zip" name="file" type="file">
                    <input type="submit" value="Загрузить">
                </form>
            </div>
        </div>

    </div>
</div>

</body>

</html>
